@using MovieTickets.Domain.DomainModels.Genre
@model MovieTickets.Domain.DomainModels.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieDescription" class="control-label"></label>
                <input asp-for="MovieDescription" class="form-control" />
                <span asp-validation-for="MovieDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieRating" class="control-label"></label>
                <input asp-for="MovieRating" class="form-control" />
                <span asp-validation-for="MovieRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieDuration" class="control-label"></label>
                <input asp-for="MovieDuration" class="form-control" />
                <span asp-validation-for="MovieDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control">
                    @foreach (int i in Enum.GetValues(typeof(GENRE))) {
                    <option value="@i">@Enum.GetName(typeof(GENRE), i)</option>
                     } 
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
